<footer class="row" style="background-color: cornflowerblue; color: white;">
            <div class="col-md-4 p-4">
                   <h4>About</h4>
                   <p style = "text-align: justify;">We are a medium sized company which focuses on IT solutions,
                    We are a medium sized company which focuses on IT solutions,
                    y which focuses on IT solutions,y which focuses on IT solutions
                   </p>
            </div>

            <div class="col-md-4 p-4">
                    <h4>Our Locations</h4>
                    <p>We are Located at 2n Floor, Haven Court, Westlands Nairobi</p>
                    <b>Talk To Us</b><br>
                    <b>Office Line: </b> 254 728 000 000 <br>
                    <b>Email: </b> info@projects.com
            </div>

            <div class="col-md-4 p-4">
                    <h4>Subscribe</h4> <br>
                    <form action="">
                          <input type="email" placeholder="Enter Your Email"
                          class="form-control"> <br>
                          <input type="submit" class="btn btn-info btn-sm text-white">
                    </form>
            </div>
     </footer>

     <footer class="row" style="background-color: black; color: white;">
           <div class="col-md-12">
                   <b>All rights reserved. Copyright &copy; 2022. Developed by: MODCOM</b>
           </div>
     </footer>