<section class="row">
            <div class="col-md-12">
                   <nav class="navbar bg-danger navbar-expand-md navbar-light">
                         <a href="" class="navbar-brand ps-3">
                              <img src="logo.jpg" alt="" height="28">
                         </a>
                         <!-- Button to Show in small Phones -->
                         <button type="button" class="navbar-toggler"
                         data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                              <span class="navbar-toggler-icon"></span>
                          </button>
                         <div class="collapse navbar-collapse" id="navbarCollapse">
                                 <div class="navbar-nav">
                                         <a href="/" class="nav-item nav-link ps-3">Home</a>
                                         <a href="/programs" class="nav-item nav-link ps-3">Programs</a>
                                         <a href="" class="nav-item nav-link ps-3">Activities</a>
                                         <a href="" class="nav-item nav-link ps-3">Projects</a>
                                         <div class="nav-item dropdown">
                                             <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Messages</a>
                                             <div class="dropdown-menu">
                                                 <a href="#" class="dropdown-item">Inbox</a>
                                                 <a href="#" class="dropdown-item">Sent</a>
                                                 <a href="#" class="dropdown-item">Drafts</a>
                                             </div>
                                         </div>
                                 </div>

                                 <form class="d-flex">
                                   <div class="input-group">
                                       <input type="text" class="form-control" placeholder="Search">
                                       <button type="button" class="btn btn-secondary"><i class="bi-search"></i></button>
                                   </div>
                               </form>

                                 <div class="navbar-nav ms-auto">
                                         <a href="" class="nav-item nav-link ps-3">Login</a>
                                 </div>
                         </div>
                   </nav>
            </div>
</section>